* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: 'centaur';
    color: #364f6b;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 2px solid black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'elephant';
    color: #364f6b;
}

h2 {
    font-family: 'elephant';
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.btn-blue {
    background: #50CB93;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.btn-blue:hover {
    background: #39A2DB;
    text-decoration: none;
}

a.btn-green {
    background: #39A2DB;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.btn-green:hover {
    background: #50CB93;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

#wisata #gmbr {
    width: 50%;
    height: 40%;
    border-radius: 50px;
}


/*editan untuk footer*/

.footer {
    background-color: #50CB93;
    color: #364f6b;
    padding: 15px;
    text-align: center;
}

.medsos {
    padding: 5px;
}

.medsos ul li {
    display: inline-block;
    color: #fff;
    margin-right: 30px;
}

.container {
    padding: 10px;
}

.container ul {
    padding: 10px;
    color: black;
}

.medsos ul li i {
    color: #7E42C7;
}

.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin: 30px ;
}
.slides {
  display: flex;
  margin:auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  font-family: 'centaur';
}

.slides .foto img{
  width:500px;
  border-radius: 30px;
  padding-bottom:10px;
  height:300px;
}

.slides .foto h3{
font-family: 'Open Sans', sans-serif;
color: #364f6b;
}

.slides .foto{
  border-radius: 20px;
  border-color:  #fff;
}

.foto{
  border:1px solid black;
  margin: 10px;
}
